.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

form {
    margin: 20px;
}

input {
    margin-top: 10px;
}


button[type="submit"] {
    margin-top: 10px;
}

.boutonAjoutAmi {
    margin-left: 10px;
}