<div style="display: block; width: 500px">
  <canvas baseChart 
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [type]="barChartType">
  </canvas>
</div>

<!--
Pour installer ng2-charts : https://www.npmjs.com/package/ng2-charts
Suivre l'installation manuelle : 
 npm install ng2-charts chart.js
 Importer le module NgChartsModule dans app.module.ts

 Puis, suivre les exemples ici : https://valor-software.com/ng2-charts/

-->